body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(30, 38%, 92%);
    height: 100vh;
    margin: 0;
}

.block__container { 
    display: flex;
    border-radius: 2%;
    align-items: center;
    background-color: white;
    height: 500px;
    width: 600px;
    overflow: hidden;
    
}

.Product__picture {
    height: 500px;
    width: 300px;
    border-radius: 2% 0 0 2%;
}


.Product__name {
    display: flex;
    flex-direction: column; /* Place "Perfume" au-dessus du titre */
    justify-content: center; 
    align-items: flex-start; /* Aligne le texte à gauche */
    padding: 20px;
    margin: 0; /* Supprime le `margin-bottom: 10em` */
    line-height: 1; /* Meilleur espacement des lignes */
    margin-top: -130px;
}

.product__category {
    font-size: 0.8em;
    color: gray;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 120px;
} 

.description {
    font-size: 17px;
    color: gray;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    line-height: 1.2;
}


.purchase__button {
    display: flex;
    flex-direction: row;
    height: 45px;
    width: 240px;
    justify-content: center;
    align-items: center;
    background-color: hsl(158, 36%, 37%);
    color: white;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 15px;
    
}

.purchase {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centre horizontalement */
    align-items: center; /* Centre verticalement */
    width: 100%; /* Pour occuper toute la largeur */
    margin-left: 5px;
    
}

.price {
    color: hsl(158, 36%, 37%);
    font-size: 35px;
    font-weight: bold;
}

.discount {
    color: gray;
    font-size: 16px;
    text-decoration: line-through;
    margin-left: 35px;
}

.cart__picture {
    display: flex;
    margin-right: 5px;
}

