body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(30, 38%, 92%);
    height: 100vh;
    margin: 0;
}

.block__container { 
    display: flex;
    border-radius: 2%;
    align-items: center;
    background-color: white;
    height: 500px;
    width: 600px;
    overflow: hidden;
    
}

.Product__picture {
    height: 500px;
    width: 300px;
    border-radius: 2% 0 0 2%;
}


.Product__name {
    display: flex;
    flex-direction: column; /* Place "Perfume" au-dessus du titre */
    justify-content: center; 
    align-items: flex-start; /* Aligne le texte à gauche */
    padding: 20px;
    margin: 0; /* Supprime le `margin-bottom: 10em` */
    line-height: 1; /* Meilleur espacement des lignes */
    margin-top: -130px;
}

.product__category {
    font-size: 0.8em;
    color: gray;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
} 

.description {
    font-size: 17px;
    color: gray;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    line-height: 1.2;
}

.price {
    color: hsl(158, 36%, 37%);
}

.cart__picture {
    color: green;
}
