@font-face {
    font-family: Outfit;
    src: url(qr-code-component-main\font\outfit\fonts);
}


body {
    display: flex; /* Active le modèle de mise en page Flexbox pour l'élément body. Cela transforme le body en un conteneur flex */
    justify-content: center; /* Centre le contenu horizontalement (sur l'axe principal, qui est de gauche à droite dans un conteneur Flexbox). */
    align-items: center; /* Centre le contenu verticalement (sur l'axe secondaire, qui est de haut en bas dans un conteneur Flexbox) */ 
    height: 100vh; 
    margin: 0; /* Enlève la marge par défaut appliquée par certains navigateurs (par exemple, les navigateurs appliquent souvent une petite marge autour du body */
    background-color: hsl(212, 45%, 89%);
  }
  
  .QR-code {
    width: 280px; /* Ajuste la taille du QR code */
    max-width: fit-content;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
  }

  .content-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    height: 440px;
    padding: 20px;
    border-radius: 10px;
    box-sizing: bder;
    background-color: white;
  }

  .text {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 1px;
    text-align: center;
  }

  .small-text {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom: 45px;
    margin-top: 10px;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.5);
  }